@font-face {
    font-family: 'Prelo-light';
    src: url('../fonts/Prelo-Light.woff');
}
@font-face {
    font-family: 'Prelo-book';
    src: url('../fonts/Prelo-Book.woff');
}
@font-face {
    font-family: 'Prelo-medium';
    src: url('../fonts/Prelo-Medium.woff');
}
@font-face {
    font-family: 'Prelo-bold';
    src: url('../fonts/Prelo-Bold.woff');
}