#mktoForm_2077 {
    font-family: 'Prelo-light' !important;
    font-size: clamp(.75rem, .75vw, 1rem) !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;

    * {
        float: none !important;
    }
    h3 {
        font-size: clamp(.75rem, .9vw, 1rem) !important;
        letter-spacing: clamp(0.01rem, 0.03vw, 0.275rem);
    }
    .mktoAsterix, .mktoOffset, .mktoGutter {
        display: none !important;
    }
    .mktoFormCol {
        margin-bottom: 2rem !important;
        @media screen and (max-width: 1280px) {
            margin-bottom: 1rem !important;
        }
    }
    > div {
        width: calc(50% - 1vw) !important;
        @media screen and (max-width: 1280px) {
            width: 100% !important;
        }
    }
    label {
        text-transform: uppercase;
        font-size: clamp(.75rem, .9vw, 1rem) !important;
        font-family: 'Prelo-medium' !important;
        color: $dark-gray !important;
    }
    input, textarea {
        width: 100% !important;
        height: clamp(2.5rem, 5vw, 4rem);
        padding: 1vw;
        background-color: $light-fill !important;
        border: none !important;
        box-shadow: none !important;
        @media screen and (max-width: 800px) {
            height: 2.5rem;
        }
    }
    textarea {
        resize: vertical;
    }
    .mktoRadioList {
        input {
            height: 0;
        }
        label {
            margin-left: 2rem;
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                margin-top: -0.4rem;
                margin-left: -2rem;
                background-color: $light-fill;
                background-position: 0.54rem 0.54rem;
                border: none;
                box-shadow: none;
            }
        }
    }
    [title="I agree"] {
        label {
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                background-color: $light-fill !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
        input {
            height: 0;
        }
    }
    .mktoButton {
        background-color: $rsm-blue;
        background: $rsm-blue;
        border: 1px solid $rsm-blue;
        padding: .75rem 1rem;
        color: white;
        font-family: 'Prelo-medium';
        font-size: clamp(1rem, 1.15vw, 1.25rem) !important;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: background-color .2s, color .2s;
        box-shadow: none;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: $rsm-blue;
            transition: background-color .2s, color .2s;
        }
    }
    .mktoError {
        color: $rsm-blue;
        right: 100%;
        .mktoErrorArrow {
            background-color: $rsm-blue;
            border: none;
        }
        .mktoErrorMsg {
            background-color: $rsm-blue;
            color: white;
            background-image: none;
            box-shadow: none;
            text-shadow: none;
            border: none;
            border-radius: 0;
        }
    }
    .mktoInvalid {
        border: 1px solid $rsm-blue;
    }
    
    > div {
        // Guest Info Row
        &:first-of-type {
            display: none;
        }
        // First Name
        &:nth-of-type(2) {
            label {
                font-family: 'Prelo-bold' !important;
            }
        }
        // Last Name
        &:nth-of-type(3) {
            label {
                font-family: 'Prelo-bold' !important;
            }
        }
        // Company
        &:nth-of-type(4) {
            width: 100% !important;
        }
        // Email
        &:nth-of-type(5) {
            label {
                font-family: 'Prelo-bold' !important;
            }
        }
        // Phone
        &:nth-of-type(6) {
            label {
                font-family: 'Prelo-bold' !important;
            }
        }
        // Attending?
        &:nth-of-type(7) {
            label {
                font-family: 'Prelo-bold' !important;
                margin-bottom: 0;
            }
            label.mktoLabel {
                display: none !important;
            }
        }
        // Arrangements
        &:nth-of-type(8) {
            width: 100% !important;
            .mktoFormCol {
                margin: 2rem 0 0;
            }
            h3 {
                margin: 0;
            }
        }
        // Full Name
        &:nth-of-type(9) {

        }
        // Phone
        &:nth-of-type(10) {

        }
        // Email
        &:nth-of-type(11) {

        }
        // Additional Information
        &:nth-of-type(12) {
            width: 100% !important;
            .mktoFormCol {
                margin: 2rem 0 0;
            }
        }
        // Allergies
        &:nth-of-type(13) {
            width: 100% !important;
        }
        // Additional Comments
        &:nth-of-type(14) {
            width: 100% !important;
        }
        // Privacy Policy
        &:nth-of-type(15) {
            width: 100% !important;
            label {
                font-family: 'Prelo-light' !important;
                text-transform: none;
                line-height: 2;
            }
            span {
                display: block;
                font-family: 'Prelo-bold' !important;
                text-transform: uppercase;
                margin-top: .5rem;
            }
        }
        // Privacy Policy
        &:nth-of-type(16) {
            width: 100% !important;
            label {
                font-family: 'Prelo-light' !important;
                text-transform: none;
                line-height: 2;
            }
            span {
                display: block;
                font-family: 'Prelo-bold' !important;
                text-transform: uppercase;
                margin-top: .5rem;
            }
        }
        // Submission Statement
        &:nth-of-type(17) {
            display: none;
        }
        // Submit
        &:nth-of-type(18) {
            width: 100% !important;
            span {
                margin-left: 0 !important;
            }
        }
    }
}