
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    background-color: #000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    width: 100%;
    height: 100dvh;
}

section {
	width: 100%;
	height: 100vh;	
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &.section-one {
        picture {
            position: absolute;
            inset: 0 0 0 0;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
    &.section-two {
        background-color: steelblue;
    }
    &.section-three {
        background-color: crimson;
    }
    &.section-four {
        background-color: lime;
    }
    &.section-five {
        background-color: grey;
        min-height: 100dvh;
    }
}

.golf-intro {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

canvas {
    position: fixed;
    inset: 0 0 0 0;
    top: 0;
    left: 0;
    z-index: 3;
}